body
{
padding:0;
margin:0;
background:black;
}

#top-nav-box
{
	height:80px;
	background: black;
}
#container
{
	background-image:url("signupbg.jpg");
	background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  
}
input, textarea
{
	margin-bottom: 20px;
	margin-left:75px;
 height: 30px;
}
.signupbox
{
	margin-top:2%;
	margin-left:auto;
	margin-right: auto;
	padding-right: 8px;
	width:1000px;
	height:auto;
	background:	rgba(230, 230, 230,0.5);
border:2.5px solid navy;
border-radius: 25px;
}
.signupbox input[type="text"],.signupbox input[type="password"],.signupbox input[type="email"],textarea
{

 width:58%;
 
 border:1.5px solid blue;
color:#00b359;
 #4dffd2;#ffff66; green;
 font-size: 25px;
 background: rgba(235, 235, 224,0.5);
 font-family: Gamja Flower;
}
textarea
{
	height:auto;
	resize: none;

}
#userimg
{
	width: 100px;
	height:100px;
	margin-top:-50px;
	display: block;
	margin-right: auto;
	margin-left:auto;
	border-radius: 50px;
border:4px solid black;
overflow:hidden;
background:#1aff8c;
}
#signup
{    
	margin-bottom: 10px;
}

#signup label
{   font-size: 20px;
	font-weight: bold;
	color:dark blue;#5858FA;
	margin-top: 10px;
	text-transform: uppercase;
	margin-left: 35px;
	font-family: verdana;
	width:auto;
	vertical-align: text-bottom;
}
h2
{
	font-family: Open Sans;
	font-size: 35px;
letter-spacing: 1px;
word-spacing: 10px;
font-weight: 2;
color:#fff;#1aff8c;

}
#home
   {
          
        top: 0;
        left:0;
        margin-left: 10px;
     

        }
        #homeimg
        {   margin-top:-15px;
            height: 80px;
            width: 80px;
            float: left;
            position:fixed;
            z-index: 5;
            

        }
#msg
{
	color:#ff8566;red;
	display:none;
	font-size:30px;
	font-style: italic;
	font-weight: bold; 
	margin-left: 60px;
}
.b2
{

	height:50px;
	width:50%;
	color:White;
	font-size:22px;
	background-color:  #248024;
	box-shadow:10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);	
	letter-spacing: 2px;
	border-radius: 15px;
	cursor: pointer;

}
.b1
{
	height:50px;
	width:50%;
	color:White;
	font-size:25px;
	color:red;
	letter-spacing: 2px;
	border-radius: 15px;
	cursor: pointer;
}

.signupbox a
{   font-size: 25px;
	color:blue;
	text-decoration:red;
	
}
a:hover
{
	font-size: 30px;
	letter-spacing: 4px;
	word-spacing: 10px;
	font-family: sans-serif;
}
#signup #sel
{
	color:#00b359;
}
table
{
	width:auto;
}
.b1:hover
{  font-family: arial;
	letter-spacing: 3px;
font-size: 35px;
background-color:red;
color:white;
box-shadow:10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);	
}
.b2:hover
{  font-family: arial;
	letter-spacing: 3px;
font-size: 35px;
background-color: #00cc44; #80ff00; #248024;
box-shadow:10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);	
}

#button:hover
{
	transform: translateY(6px);
}
#button1:hover
{
	box-shadow: 5px 3px 5px white;
	background-color:blue;
}
#button1
{border:2px solid black;border-radius:9px;font-size: 30px;margin-top: 20px;margin-left: 20px;background-color:#435;cursor: pointer;color:white;}

.error-txt
{color:red;}
